/* --------------- CSS Reset ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
/* ---------------------------------------------- */
