@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.4rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  /* End header */
}

@media only screen and (max-width: 1024px) {
  #header {
    .header {
      .nav-bar {
        justify-content: space-between;
      }
    }
  }
}
