body::-webkit-scrollbar {
  width: 17px;
}
body::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: content-box;
  background-image: linear-gradient(to bottom, #000, #000, #000);
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}